*{
    margin :0;
    padding:0;
    box-sizing: border-box;
    font-family:'Poppins',sans-serif;
}
.container{
    width:100%;
    height:100%;
    min-height :100vh;
    padding : 10px;
    background: #222831;
    
}
.todolist{
    width:100%;
    max-width:540px;
    background: #393E46;
    margin:100px auto 20px;
    padding: 40px 30px 70px;
    border-radius:10px;
    border: 2px solid #5c6168 ;
    box-shadow: 3px 1px 5px 1px #5c6168;
}
.todolist h2{
    background: #393E46;
    color:#EEEEEE;
    margin-bottom: 20px;
    text-align: center;
    font-size:24px;
}
input{
    flex: 1;
    border:none;
    outline: none;
    padding:12px;
    font-size:14px;
    text-transform: capitalize;
    border-radius: 40px;
}
.inputRow{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    text-align: center;
    border-radius: 30px;
    flex-flow: wrap;
    margin-bottom: 20px;
    overflow: hidden;
}
.inputRow Button{
    border:none;
    outline:none;
    padding:12px;
    font-size:14px;
    cursor:pointer;
    background:#FFD369;
    border-radius: 40px;
    color:#222831;
    margin-right: 8px;
    margin-left: 5px;
}

#addButton:hover{
    background-color:#be9c4c ;
}
#delAllButton:hover{
    background-color:#be9c4c ;
}
div li{
    text-transform: capitalize;
    list-style:none;
    cursor: pointer;
    user-select: none;
    padding: 20px 12px 12px 55px;
    font-size: 15px;
    font-weight: 600;
    position: relative;
    word-wrap: break-word;
    text-decoration: underline;
    color:#EEEEEE;
}
div li::before{
    content: '';
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 50px;
    background-size: cover;
    background-position: center;
    background-image: url(uncheck.png);
    top: 12px;
    left: 15px;
}
div li.checked{
    color:#cfcfcf;
    text-decoration: line-through;
    font-weight: 500;
    font-style: italic;
}
div li.checked::before{
    background-image: url(Redcheck.png);
}
#mainTodolist{
    background: #393E46;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    word-break: break-word;
}
.flex button{
    border:none;
    outline:none;
    padding:8px;
    font-size:10px;
    cursor:pointer;
    margin-right: 10px;
    color:#222831;
    background: #e9e9e9;
    border-radius: 50%;
}
.flex button:hover{
    background-color:#222831;
    color:#cfcfcf;
}
/* ul li::before{
    content: '';
    position: absolute;
    height:20px;
    width:20px;
    border-radius: 50px;
    background-size: cover;
    background-position: center;
    background-image: url(uncheck.png);
    top: 10px;
    left: 8px;
} */
/* .todolist{
    width:100%;
    max-width:33.75rem;
    background-color: #f05454;
    margin:6.25rem auto 1.25rem;
    padding: 2.5rem 1.875rem 2.5rem;
    border-radius: 0.75rem;
}
.todolist h2{
    color:#121212;
    margin-bottom: 1.25rem;
    text-align: center;
    font-size:1.875rem;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #EEEEEE;
    border-radius:1.875rem;
    padding-left: 1.25rem;
    margin-bottom: 1.25rem;
}
input{
    flex:1;
    border: none;
    outline:none;
    background:transparent;
    padding:0.675rem;
    font: 1rem "Poppins", sans-serif;
    text-transform: capitalize;
}